@model Sach

@{
    ViewData["Title"] = "ChiTietSach";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <a href="#" class="product-image"><img class="image-" src="../ImagesBook/@ViewBag.anhSach"></a>
            </div>

            <div class="col-md-6 pl-5">
                <div class="product-detail">
                    <h1>@Model.TenSach</h1>
                    <p>Tác Giả : @Model.TacGia</p>
                    <div>
                        <p>Giới thiệu</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                    @using (Html.BeginForm("MuonSach", "Home", new {@MaSach = Model.MaSach}))
                    {
                        <button type="submit" name="add-to-cart" value="27545" data-confirm ="Bạn có chắc chắn muốn mượn sách này?" class="button">Mượn sách</button>
                    }
                </div>
            </div>

        </div>
    </div>

</section>
<script>
    $('button[data-confirm]').click(function (e) {
        if (!confirm($(this).data('confirm'))) {
            e.preventDefault();
        }
    });
</script>
@if (TempData["Err"] != null && TempData["Err"] != "")
{
    <script>
        alert('@TempData["Err"]');
    </script>
}


