<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-item">
                    <div class="company-brand">
                        <a href="https://www.utc.edu.vn/"><img src="../Library/images/logo.png" /></a>


                        <p class="ng-tns-c0-0 ">Địa chỉ: Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội.</p>
                        <p class="ng-tns-c0-0">Điện thoại: <a href="tel:(84.24) 37663311" style="color:#3333">(84.24) 37663311</a> - Fax: (84.24)37669613</p>
                        <p class="ng-tns-c0-0">Email: <a href="mailto:dhgtvt@utc.edu.vn" style="color:#3333">dhgtvt@utc.edu.vn</a></p>



                        <h5 class="ng-tns-c0-0">Phân hiệu tại thành phố Hồ Chí Minh</h5>
                        <p class="ng-tns-c0-0">Địa chỉ: 450-451 Đường Lê Văn Việt, Phường Tăng Nhơn Phú A, TP. Thủ Đức (Quận 9 cũ), TP. Hồ Chí Minh</p>
                        <p class="ng-tns-c0-0">Điện thoại: <a href="tel:(84.28) 38966798" style="color:#3333">(84.28) 38966798</a> - Fax: (84.28)38964736</p>
                        <p class="ng-tns-c0-0">Email: <a href="mailto:info@utc2.edu.vn" style="color:#3333">info@utc2.edu.vn</a></p>
                        <p class="ng-tns-c0-0">website: <a href="http://phanhieu.utc.edu.vn" title="PHÂN HIỆU TẠI THÀNH PHỐ HỒ CHÍ MINH" style="color:#3333">http://phanhieu.utc.edu.vn</a></p>






                    </div>
                </div>
            </div>



            <div class="col-md-8 ">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="footer-menu">
                            <h5>About Us</h5>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="#">vision</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">articles </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">careers</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">service terms</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">donate</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-menu">
                            <h5>Discover</h5>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Books</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Authors</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Subjects</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Advanced Search</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="footer-menu">
                            <h5>My account</h5>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="#">Sign In</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">View Cart</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">My Wishtlist</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Track My Order</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="footer-menu">
                            <h5>Help</h5>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="#">Help center</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Report a problem</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Suggesting edits</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
                <div class="mab-btn">
                    <a href="https://www.utc.edu.vn/"><img src="../ImagesUrl/map.png" style="margin-left: 35px;" /></a>


                </div>




            </div>
        </div>
        <!-- / row -->
        <div>
        </div>



    </div>



</footer>
