@model IEnumerable<TheLoai>
<ul>
	@foreach (var item in Model)
	{
		var getUrl = "https://localhost:7143/api/cauthuapi/" + item.MaTheLoai;
		<li><a style="cursor:pointer" onclick="showSachByTheLoai('@getUrl')">@item.TenTheLoai</a></li>
		@*<li><a asp-controller="Home" asp-action="SachTheoLoai" asp-route-maloai="@item.MaTheLoai">@item.TenTheLoai</a></li>*@
	}
</ul>
<script>
	function showSachByTheLoai(getUrl) {
		var str = "";
		$.ajax({
			type: "GET",
			url: getUrl,
			dataType: "json",
			success: function (data) {
				$.each(data, function (key, value) {
					str += `
							<div class="col-md-3 ">
								<figure class="product-style">
										<img src="../ImagesBook/${value.TenFileAnhDd}" alt="Books" class="product-item" style="height:350px">

									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to Cart</button>
									<figcaption>
										<a asp-controller="Home" asp-action="ChiTietSach" asp-route-masach="${value.MaSach}" style="text-decoration: none;">
											<h3 style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">${value.TenSach}</h3>
											<p>${value.TacGia}</p>
										</a>
									</figcaption>
								</figure>
							</div>
						`
				});
				$("#displaySach").html(str);
			},
			Error: function (xhr) {
				alert(xhr.responseText);
			}
		});
	}
</script>